<settings>
  <servers>
    <server>
      <id>vptree-java</id>
      <username>lucasimi</username>
      <password>${env.PACKAGES_READ_PAT}</password>
    </server>
    <server>
      <id>tda-mapper-java</id>
      <username>lucasimi</username>
      <password>${env.PACKAGES_WRITE_PAT}</password>
    </server>
  </servers>
</settings>
